.ais-SearchBox-form {
    background-color: #171717;
    color: white;
}

.ais-SearchBox-input {
    background-color: #171717;
    color: white;
    caret-color: white;
}

.ais-SearchBox-submit {
    background-color: #171717;
    color: white;
}

.ais-SearchBox-reset {
    background-color: #171717;
    color: white;
}

.ais-Hits-item {
    background-color: #272727;
    padding: 0;
    margin-top: 5px;
    display: block;
}