.card {
    background-color: #272727;
    padding: 10px 20px;
    color: white;
    margin: 5px;
}

.title {
    margin: 10px 5px;
}

.controls {
    display: flex;
    align-items: center;
}

.button {
    border: none;
    background-color: #272727;
    padding: 5px;
    color: white;
    margin: 3px;
    cursor: pointer;
}

.button:hover {
    background-color: #373737;
}

.progress {
    width: 60%;
    margin-left: 20px;
}